/*============== NavBar =============*/

.navbar {
	border: none;
	background: rgba(0,0,0,0.7);
}

.navbar-text {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #fbf9f9;
    padding-left: 6px;
}

.navbar-nav li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 1.2px;
	color: #fbf9f9;
}



/*============== Body =============*/


body {
	font-family: 'Open Sans', sans-serif;	
	font-size: 16px;
	position: relative;
	padding: 0;
	background: ;
}


#profile {
	width: 120px;
	height: auto;
	margin-top: 200px;
}

.profile p {
	text-align: center;
	color: white;
	font-size: 1.3em;
}



/*============== About =============*/

.about {
	padding-top: 100px;
	padding-bottom: 100px;
	margin: -55px 0px;
	overflow: visible;
	-webkit-transform: skewY(-4deg);
	-moz-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);
	-o-transform: skewY(-4deg);
	transform: skewY(-4deg);
	-webkit-backface-visibility: hidden;
}

.about-me {
	-webkit-transform: skewY(4deg);
	-moz-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	-o-transform: skewY(4deg);
	transform: skewY(4deg);
	-webkit-backface-visibility: hidden;
}

.exp-header {
	text-align: center;
}

#about-p {
	font-family: serif;
	font-size: 1.1em;
	line-height: 1.4em;
}


h2 {
    font-family: 'Oswald', sans-serif;
	margin-bottom: 50px;
	margin-top: 40px;
	text-align: center;
	font-size: 3em;
}

#pro {
	text-align: right;
	padding-right: 0;
}

#okay {
	text-align: center;
}

#newbie {
	padding-left: 0;
}

.progress-bar {
	-webkit-transition: width 3s ease;
    -o-transition: width 3s ease;
    transition: width 3s ease;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #9c9c9c;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #bababa;
  text-decoration: none;
  color: #fff;
}

/*============== My Projects =============*/

.projects {
	padding-top: 100px;
	padding-bottom: 100px;
	margin: -55px 0;
	overflow: visible;
	-webkit-transform: skewY(4deg);
	-moz-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	-o-transform: skewY(4deg);
	transform: skewY(4deg);
	-webkit-backface-visibility: hidden;
}

.my-projects {
	-webkit-transform: skewY(-4deg);
	-moz-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);
	-o-transform: skewY(-4deg);
	transform: skewY(-4deg);
	-webkit-backface-visibility: hidden;
}

.caption p {
	font-size: 1em;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 200px;
}



/*============== Contact =============*/

.contact {
	padding-top: 100px;
	padding-bottom: 100px;
	margin: -55px 0 55px;
	overflow: visible;
	-webkit-transform: skewY(-4deg);
	-moz-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);
	-o-transform: skewY(-4deg);
	transform: skewY(-4deg);
	-webkit-backface-visibility: hidden;
}

.my-contact {
	-webkit-transform: skewY(4deg);
	-moz-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	-o-transform: skewY(4deg);
	transform: skewY(4deg);
	-webkit-backface-visibility: hidden;
}



.head{
	text-align: center;
}

.head h2 {
	text-align: center;
	font-size: 26px;
    display: inline-block;
    letter-spacing: 2px;
}

span {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 1px;
    margin: 0 18px 7px 18px;
    background: #000;
}


.map {
	margin-bottom: -4px;
}


.glyphicon {
	padding-right: 6px;
}

.email{
	height: 40px;
}


.instagram,
.facebook,
.twitter,
.github {
	height: 50px;
	width: auto;
	padding-right: 5%;
}

.email,
.linkedin {
	height: 50px;
	width: auto;
	padding-right: 5%;
}

.social {
	margin-top: 30px;
	text-align: center;
}

.reachme {
    margin-top: 30px;
    text-align: center;
}
/*============== Footer =============*/

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #ededed;
	overflow: visible;
	color: gray;
}

.copy-right {
	padding-top: 10px;
}

.copy-right p {
	font-size: .5em;
}





/*============== Media Queries =============*/

/* Portrait tablets and small desktops */
@media (min-width: 768px) {
	.navbar {
		min-height: 80px;
	}

	.navbar-nav li a {
		padding-top: 30px;
    	padding-bottom: 30px;
	}

	.navbar-text {
		font-size: 1.5em;
		margin-top: 30px;
	}

	#brand-image {
		height: 50px;
		width: auto;
	}

	.copy-right {
		padding-top: 25px;
	}

	.copy-right p {
		font-size: 1.2em;
	}

	.footer,
	.social {
		height: 50px;
	}

	.thumbnail {
		height: 380px;
	}
    
   .instagram,
   .facebook,
   .twitter,
   .github {
	   height: 50px;
	   width: auto;
	   padding-right: 5%;
   }  

   .email,
   .linkedin {
	   height: 50px;
	   width: auto;
	   padding-left: 5%;
   }



}




/* Landscape tablets and medium desktops */
@media (min-width: 992px) {
	.thumbnail {
		height: 420px;
	}
}




/* Large desktops and laptops */
@media (min-width: 1200px) {

/*	.facebook,
	.twitter,
	.linkedin,
	.github {
		padding-right: 10%;
	}*/

	.thumbnail {
		height: 475px;
	}
}

/*============== Parallax =============*/

section.module.parallax-1 {
    background-image: url("../img/pic3.jpg");
    height: 720px;
}

section.module.parallax {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax h1 {
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


section.module.parallax-2 {
  background-image: url("../img/pic2.jpg");
  height: 400px;
}

section.module.parallax-3 {
  background-image: url("../img/pic1.jpg");
  height: 400px;
}